.video__element__icon {
  max-width: 106px;
  max-height: 106px;

  @media (min-width: 1024px) {
    max-width: 158px;
    max-height: 158px;
  }
}

.columns__column .video {
  .container:not(.text):not(.tile--container) {
    @apply tw-px-0 tw-mx-0 tw-justify-start;

    .video__element__image {
      width: 425px;
      height: 425px;
      @apply tw-max-w-full tw-object-cover;
    }
  }

  .video__element__icon {
    max-width: 106px;
    max-height: 106px;

    @media (min-width: 1024px) {
      max-width: 118px;
      max-height: 118px;
    }
  }
}
.video__popup {
  z-index: 110; // above recaptcha
}


body {
  --video-close-btn-height: 60px; // close button + padding, only stacks above iframe on mobile (<1024px)
  --video-admin-bar-height: 0px;
  --video-padding: 2rem;

  &.admin-bar {
    @media (max-width: 782px) {
      --video-admin-bar-height: 46px;
    }
    @media (min-width: 783px) {
      --video-admin-bar-height: 32px;
    }
  }

  .video__popup {
    @media (min-width: 1024px) {
      padding-top: var(--video-admin-bar-height) !important;
    }

    .video__popup_iframewrapper {
      max-height: calc(100vh - var(--video-admin-bar-height) - var(--video-close-btn-height) - var(--video-padding)) !important;

      @media (min-width: 1024px) {
        max-height: calc(100vh - var(--video-admin-bar-height) - var(--video-padding)) !important;
      }
    }
  }
}
