$blueDark01: #004ca8;
$blueDark02: #00569F;

$blueLight01: #0081C1;
$blueLight02: #008cdc;

$blueGreen01: #007d7d;
$blueGreen02: #007A80;

$green01: #32aa00;
$green02: #0E8A5A;
$green03: #96c800;
$green04: #27A018;

$gray01: #eff4f6;
$grayColor02: #dfe3e6;

$black01: #152935;

$tabletBreakpoint: 640px;
$desktopBreakpoint: 1280px;

$containerPaddingMobile: 40px;
$containerPaddingDesktop: 80px;