@import "../../../../../../node_modules/tiny-slider/src/tiny-slider";

.references {
  &__cards {
    &__navigation {
      .dots {
        @apply tw-overflow-hidden tw-flex tw-justify-center;

        .dot {
          @apply tw-transition-all tw-duration-300 tw-ease-in-out;

          &:hover {
            @apply tw-cursor-pointer;
          }

          &.fade-out {
            @apply tw-opacity-0 tw-scale-50 tw-w-0 tw-m-0;
          }

          &.fade-in {
            @apply tw-opacity-100 tw-scale-100;
          }

          &.slide-left {
            @apply tw-opacity-0 tw--translate-x-[100px];
          }

          &.slide-right {
            @apply tw-opacity-0 tw-translate-x-[100px];
          }

          &.active {
            @apply tw-bg-edge;
          }
        }
      }
    }

    &__card {
      max-width: 100vw;
      @apply tw-w-full tw-h-auto #{!important};
      aspect-ratio: calc(323 / 320);

      &:focus {
        @apply tw-outline-none;
      }

      .gradient--default-overlay-images:before {
        border-radius: 20px;
      }

      &__image {
        &:before {
          border-radius: 20px !important;
        }
      }

      .content {
        @screen lg {
          padding: 30px 25px;
        }
        @apply tw-gap-[18px];
      }
    }
  }
}

.editor-styles-wrapper {
  .references {
    &__cards {
      @apply tw-grid tw-grid-cols-1 tw-gap-[18px];

      @screen sm {
        @apply tw-grid-cols-2;
      }
      @screen lg {
        @apply tw-grid-cols-4;
      }

      &__card {
        .image {
          img {
            height: 100% !important;
          }
        }
      }
    }
    .dots {
      display: none;
    }
    .trustpilot-widget {
      @apply tw-start-0;
    }
  }
}
