@import "~slick-carousel/slick/slick.scss";

.woocommerce-product-carousel {
	@include media-breakpoint-down(xs) {
		padding-right : 30px;
		padding-left  : 30px;
	}

	.slick-arrow {
		position         : absolute;
		top              : calc(50% - 12.5px);
		border           : none;
		border-radius    : 50%;
		width            : 35px;
		height           : 35px;
		background-color : $primary;
		transition       : visibility .4s, background-color .3s;
		visibility       : visible;
		z-index          : 1;

		&:hover {
			cursor : pointer;
		}

		&:before {
			content      : '';
			border       : solid $white;
			border-width : 0 2px 2px 0;
			display      : inline-block;
			padding      : 5px;
			top          : calc(50% - 6px);
			position     : absolute;
		}

		&.next-arrow {
			right : -80px;

			@media(max-width : 1300px) {
				right : -40px;
			}

			@media(max-width : 1250px) {
				right : -30px;
			}

			@include media-breakpoint-down(xs) {
				right : -25px;
			}

			&:before {
				transform         : rotate(-45deg);
				-webkit-transform : rotate(-45deg);
				left              : calc(50% - 8px);
			}
		}

		&.prev-arrow {
			left : -90px;

			@media(max-width : 1300px) {
				left : -40px;
			}

			@media(max-width : 1250px) {
				left : -30px;
			}

			@include media-breakpoint-down(xs) {
				left : -25px;
			}

			&:before {
				transform         : rotate(135deg);
				-webkit-transform : rotate(135deg);
				left              : calc(50% - 5px);
			}
		}

		&.slick-disabled {
			visibility : hidden;
		}
	}

	button.slick-arrow {
		position : absolute;
	}

	.woocommerce-loop-product__link {
		&:focus {
			outline-color : unset;
		}
	}

	.product {
		&-image {
			img {
				width  : 100%;
				height : auto;
			}
		}
	}
}